<div class="columns is-multiline">
	<ng-container *ngIf="products$ |async as products">
		<div class="column is-4" *ngFor="let p of products">
			<div class="card">
				<div class="card-content">

					<div class="media-content">
						<p class="title is-4">{{p.name}}</p>
						<p class="subtitle is-6">{{p.email}}</p>
					</div>
					<div class="content">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris. <a>@bulmaio</a>.
						<a href="#">#css</a> <a href="#">#responsive</a>
						<br>
      <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
    </div>
  </div>
</div>
		</div>
	</ng-container>

</div>